@import "_normalize.scss";
@import "_layout.scss";
@import "slick.scss";

@import url('https://fonts.googleapis.com/css?family=Neucha&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Cuprum:400,400i,700&subset=cyrillic');

$primery-color: #F6B805;
$text-color: #332407;
$decor-color: #FF5100;

$body-font-family: 'Cuprum',
sans-serif;
$heading-font-family: 'Neucha',
cursive;

body {
	font-family: $body-font-family;
	// background-color: #030408;
	background-color: #0f0f0f;
	// background-color: #FFFF91;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 30px;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 54px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 24px;
}

h5.h6 {
	font-size: 22px;
}

p {
	margin: 0 0 20px;
}

a {
	text-decoration: none;
	color: $primery-color;
}

a:hover {
	color: #444;
}

// .foodicon {
// 	display: inline-block;
// 	width: 1em;
// 	height: 1em;
// 	stroke-width: 0;
// 	stroke: currentColor;
// 	fill: currentColor;
// }

.ba-socials {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.icon {
	display: inline-block;
	stroke-width: 0;
	fill: $primery-color;
	width: 40px;
	height: 40px;
	&-menu2{
		fill: #000000;
	}
}

.icon-socials {
	width: 30px;
	height: 30px;
	color: black;
	filter: brightness(0) invert(0);
	background: transparent;

	&:hover {
		filter: brightness(0) invert(0.4);
		transition: filter .2s ease-in;
	}
}

/* Layout */
.ba-container {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1100px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="submit"],
input[type="button"],
button,
.ba-button {
	display: inline-block;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {}

textarea {}

img {
	padding: 0;
}

.ba-header {
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	right: 0;
	padding-bottom: 0px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 19%, rgba(0, 0, 0, 0.92) 66%, rgba(246, 185, 7, 0.97) 85%, rgba(246, 185, 7, 1) 98%);
}

.ba-header-bar {
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
	padding-top: 20px;

	a {
		display: inline-flex;
		padding: 0;
	}
}

nav {
	display: flex;
	align-items: center;
}

.ba-menu {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;

	a {
		text-decoration: none;
	}
}

.ba-menu li {
	text-transform: uppercase;
	padding-left: 33px;
	line-height: 1;
}

@media screen and (min-width: 767px) {
	.ba-menu-toggle {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.ba-logo {
		position: relative;
		z-index: 2;
	}

	.ba-menu {
		display: block;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		max-width: 250px;
		background: rgba(0, 0, 0, 0.7);
		padding: 120px 30px 30px 0;

		transition: transform 0.3s;
		transform: translateX(-100%)
	}

	.ba-menu.open {
		transform: translateX(0);
	}

	.ba-menu-toggle {
		padding: 0;
		background: none;
		border: none;
		line-height: 1;
		height: auto;
	}

	.ba-menu-toggle svg {
		fill: $primery-color;
	}
}

.ba-menu li {
	padding-left: 33px;
	line-height: 1;
}

.ba-menu a {
	font-family: $heading-font-family;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	letter-spacing: 0.02em;
	position: relative;
}

.ba-menu a:after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: currentColor;
	position: absolute;
	left: 0;
	/*top: 100%;*/
	top: -5px;
	transform: scaleX(0);
	/*opacity: 0;*/
	transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.ba-menu a:hover {
	color: $primery-color;
}

.ba-menu a:hover:after {
	opacity: 1;
	transform: scaleX(1);
}

.ba-page-title {
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 0.025em;
	margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
	.ba-page-title {
		font-size: 36px;
	}
}

.ba-intro {
	height: 100vh;
	background: #982B00 url(../img/fon-vine3.jpg) no-repeat;
	background-size: cover;
	// border-bottom: 4px solid $primery-color;

	&__inner {
		padding-top: 300px;
		color: #fff;
		// border: 2px double #fff;
	}

	& h1 {
		line-height: 0.5;
		color: $primery-color;
	}

	& p {
		font-size: 24px;
		font-style: italic;
	}

	&__info {
		font-family: $heading-font-family;
		font-size: 20px;
		font-weight: 400;
		font-style: italic;

		& ul {
			padding: 0;
		}

		& li {
			display: flex;
			align-items: center;
			margin-right: 0;
			list-style: none;
		}

		& svg {
			margin: 5px 10px 5px 10px;
		}
	}
}

.ba-upper-map {
	padding-top: 10px;

	&__inner {
		h3 {
			color: $primery-color;
			line-height: 0.8;
			float: left;
		}

		select {
			padding: 5px;
			margin-left: 20px;
			margin-bottom: 20px;
		}
	}
}

#ba-map {
	width: 100%;
	height: 450px;
	background-color: grey;
	margin-bottom: 100px;
}

.ba-filler {
	padding: 50px;
}

.ba-gateway {
	&__inner {
		color: $primery-color;
		display: flex;
		justify-content: space-around;
		margin-bottom: 50px;

		img {
			display: inline-block;
			width: 100px;
			height: 100px;
			stroke-width: 0;
			stroke: currentColor;
			fill: currentColor;
		}
	}
}

.ba-gallary {
	padding-top: 200px;
	padding-bottom: 100px;
}

.ba-gal {
	padding-top: 200px;
}

.ba-fon-gal {
	background: #fff url(../img/wood.jpg);
	background-size: cover;
	background-attachment: fixed;

	& img {
		width: 320px;
	}
}

.ba-hidden {
	display: none;
}

.ba-about {
	padding-top: 0px;
	// border-bottom: 4px solid $primery-color;
	margin-bottom: 50px;
	background: #F3CE7D url(../img/fon-about.jpg) 50% 50%;
	background-size: cover;

	&__inner {
		text-align: center;
		padding: 180px 100px;

		h2 {
			font-family: $heading-font-family;
		}

		p {
			font-size: 24px;
			padding-bottom: 50px;
			color: #fff;
		}
	}
}

.ba-top-section-decor {
	display: flex;
	justify-content: center;
	height: 90px;
	margin-bottom: 100px;

	&__inner {
		position: relative;
		padding: 5px 10px;
		background-color: $primery-color;

		h2 {
			text-align: center;
			color: #000;
			line-height: 1;
			// font-family: $heading-font-family;
			font-size: 80px;

			&:hover {
				color: $decor-color;
				transition: color .3s ease-in;
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 5px;
			right: -5px;
			height: 100%;
			background-color: $decor-color;
			z-index: -1;
			transform: skewY(7deg);
			// transform-origin: 0 0;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 45px;
			right: 15px;
			height: 103%;
			background-color: #fff;
			z-index: -1;
			transform: skewY(-10deg);
			// transform-origin: 10 5;
		}
	}
}

.ba-to-menu {
	padding: 50px 0;
	margin-bottom: 50px;

	h2 {
		text-align: center;
		color: #000;
		line-height: 1;
		// font-family: $heading-font-family;
		font-size: 80px;

		&:hover {
			color: $decor-color;
			transition: color .3s ease-in;
		}
	}

	&__inner {
		position: relative;
		box-shadow: 0px 0px 16px 9px rgba(246, 184, 5, 1);
	}

	&__article {
		padding-top: 10px;
		padding-left: 40px;
		color: $text-color;
		font-size: 24px;

		h3 {
			text-align: center;
		}
	}

	&__image {
		padding-right: 30px;
	}
}

.icon-point-left {
	display: inline-block;
	width: 25px;
	height: 25px;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.ba-button-hollow {
	left: 40px;
	top: 75%;
	font-size: 30px;
	text-transform: uppercase;
	font-family: $heading-font-family;
	font-weight: 700;
	border: 2px solid $primery-color;
	border-radius: 10px;
	padding: 8px 23px;
	background-color: rgba(0, 0, 0, .9);
	color: $primery-color;

	&--transparent {
		background-color: rgba(0, 0, 0, .7);
	}

	&--position {
		position: absolute;
	}


	&:hover {
		background-color: $primery-color;
		color: $text-color;
		border-color: $text-color;
	}
}

.slick-slide {
	outline: none;
}

.ba-menu-slider {
	display: flex;
	align-items: center;
	justify-content: center;

	.slick-arrow {
		position: absolute;
		z-index: 3;
		top: 50%;
		font-size: 0;
		width: 20px;
		height: 40px;
		margin-top: -21px;
		padding: 0;
		background: url('data:image/svg+xml,\
		<svg xmlns="http://www.w3.org/2000/svg" width="20" height="42" viewBox="0 0 366 1024">\
		<path fill="rgba(0,0,0)" d="M358.286 310.857q0 7.429-5.714 13.143l-224.571 224.571 224.571 224.571q5.714 5.714 5.714 13.143t-5.714 13.143l-28.571 28.571q-5.714 5.714-13.143 5.714t-13.143-5.714l-266.286-266.286q-5.714-5.714-5.714-13.143t5.714-13.143l266.286-266.286q5.714-5.714 13.143-5.714t13.143 5.714l28.571 28.571q5.714 5.714 5.714 13.143z"></path>\
	</svg>');
		border: none;

		&:hover,
		&:focus {
			opacity: 0.6;
			outline: none;
		}
	}

	.slick-prev {
		left: 0;
	}

	.slick-next {
		right: 0;
		transform: rotate(180deg)
	}

	article {
		display: flex;
		// flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 0;

		h3 {
			color: #fff;
		}

		img {
			width: 500px;
			height: 300px;
		}

	}

	&__item {
		background: #F3CE7D url(../img/cheese-seamless.jpg);
		padding: 30px 0;
		color: #fff;
	}
}

.ba-article-inner {
	position: relative;

	p {
		display: block;
		position: absolute;
		z-index: 2;
		top: 10%;
		left: 10%;
	}
}

.ba-about-col {
	margin-bottom: 100px;

	&-inner {
		padding-top: 50px;

		h1 {
			text-align: center;
			color: $primery-color;
		}

		&__item {
			padding: 10px;
			background-color: #fff;
			border-radius: 20px;
			text-align: center;
			height: 520px;

			h4 {
				padding-top: 10px;
				font-family: $heading-font-family;
				line-height: 1;
				position: relative;

				&:after {
					content: '';
					position: absolute;
					top: 0;
					bottom: -18px;
					left: 0;
					right: 0;
					border-bottom: 2px solid #000;
					// width: 100px;
					margin: 0 80px;
				}
			}

			p {
				font-size: 18px;
			}

			&--decor-color {
				background-color: $decor-color;
				color: #fff;
			}

			&--primary-color {
				background-color: $primery-color;
			}
		}
	}
}

.ba-about-representation {
	h3 {
		text-align: center;
		color: $primery-color;
		font-family: $heading-font-family;
	}

	&__inner {
		p {
			font-size: 22px;
			color: #ffffff;
		}
	}

	&__video {
		margin-top: 50px;
		margin-bottom: 100px;
		width: 100%;
		height: 100%;
		object-fit: cover;
		box-shadow: 0px 0px 16px 9px rgba(246, 184, 5, 1);
	}
}

.ba-to-gallary {
	margin-bottom: 50px;

	&-inner {
		border-top: 3px dashed $primery-color;
		border-bottom: 2px dashed $primery-color;
		padding: 30px 0;
		background: #fff url(../img/wood.jpg);
		background-size: cover;

		// background: $decor-color;
		// background: #fff;
		&__item {
			position: relative;

			&__over {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				z-index: 1;
				color: none;
				font-size: 0;
				text-align: center;
				font-weight: 700;
				padding-top: 50px;
				font-family: $heading-font-family;
				text-transform: uppercase;

				&:hover {
					background-color: rgba(246, 185, 7, 0.5);
					box-shadow: 0px 0px 16px 9px rgba(246, 184, 5, 1);
					font-size: 80px;
					color: #000;
					transition: background-color .5s ease-in, color .5s ease-in, box-shadow .3s ease-in;
				}

				img {
					z-index: -1;
				}
			}
		}
	}
}

.ba-contacts {
	padding: 20px 0;
	margin-bottom: 100px;

	&-inner {
		background-color: #292C29;
		// border: 3px solid #C62000;
		box-shadow: 10 0 5px #C62000;
		box-shadow: 0px 0px 16px 9px rgba(198, 32, 0, 1);
		box-shadow: 0px 0px 16px 9px rgba(246, 184, 5, 1);

		// box-shadow: 0px 0px 16px 9px rgba(255,255,255,1);
		img {
			// box-shadow: 28px 2px 53px 1px rgba(255,255,255,1);
			// box-shadow: 36px 0px 24px -13px rgba(246,184,5,1);
			// box-shadow: 11px 0px 27px 14px rgba(255,255,255,1);
			height: 400px;
		}

		&__content {
			position: relative;
			font-family: $heading-font-family;
			font-size: 24px;
			font-weight: 700;
			padding: 10px;

			h3 {
				text-align: center;
				color: #fff;
			}

			& ul {
				padding: 0;
			}

			& li {
				display: flex;
				align-items: center;
				margin-right: 0;
				list-style: none;
				padding-bottom: 10px;

				span {
					color: $primery-color;
					margin-left: 10px;
				}
			}

			& svg {
				margin: 0px 10px;
			}

		}
	}

}

.ba-footer {
	background-color: $primery-color;
	padding: 0 0 20px 0;
	position: relative;

	&__action {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			height: 100px;

			span {
				font-size: 20px;
				color: #000;
				padding-top: 10px;
			}


		}
	}

	&__img {
		filter: brightness(0) invert(0);
		width: 80px;
		height: 80px;

		&:hover {
			filter: brightness(0) invert(0.8);
			transition: filter .2s ease-in;
		}
	}

	&__perspective {
		height: 1px;
		z-index: 3;

		&:after {
			content: '';
			position: absolute;
			top: -20px;
			left: 0;
			right: 0;
			bottom: 30px;
			height: 50%;
			background-color: $primery-color;
			z-index: -1;
			transform: skewY(-1.5deg);
			// transform-origin: 0 0;
		}
	}

	&-inner {

		// display: flex;
		// justify-content: space-between;
		// align-items: center;
		&__logo {
			padding-top: 20px;
		}

		&__socials {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;

			p {
				font-size: 30px;
				font-weight: 700;
				font-family: $heading-font-family;
				line-height: 1;
			}

			span {
				font-size: 20px;
				padding-top: 10px;
			}
		}
	}
}

.ba-assortment {
	&-inner {
		padding: 50px 0 100px;
		position: relative;

		h2 {
			text-align: center;
			color: #F3CE7D;
			font-family: $heading-font-family;
		}

		.ba-decor-img {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			color: #F6B805;
			display: inline-block;
			width: 120px;
			height: 120px;
			stroke-width: 0;
			stroke: currentColor;
			fill: currentColor;

			&--cheese{
				top: 10%;
				// top: 200px;
				left: -10%;
				transform: rotate(50deg);
			}
			&--fondue{
				top: 30%;
				// top: 400px;
				left: 92%;
				transform: rotate(-20deg);
			}
			&--wine{
				top: 50%;
				// top: 600px;
				left: -5%;
				transform: rotate(30deg);
			}
			&--coffe{
				top: 70%;
				// top: 600px;
				left: 96%;
				transform: rotate(15deg);
			}

		}
	}
}

.ba-accordion {
	max-width: 800px;
	margin: 0 auto;
	position: relative;

	

	&:focus, &:hover{
		dt{
			svg{
				display: inline-block;
			}
		}
	}

	dt{
		display: flex;
		justify-content: space-between;
		position: relative;
		svg{
			display: none;
			width: 30px;
			height: 20px;

		}
				.icon-set{
					display: inline-block;
					position: absolute;
					top: 30%;
					fill: #000000;
				}
	}

	&:after {
		content: '';
		position: absolute;
		top: 0px;
		left: 0;
		right: 0;
		bottom: 20px;
		height: 70%;
		background-color: $decor-color;
		z-index: -1;
		transform: skewY(-2deg);
		// transform-origin: 0 0;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0px;
		height: 100%;
		background-color: #ffffff;
		z-index: -1;
		transform: skewY(-2deg);
		// transform-origin: 0 0;
	}

	&__title {
		box-shadow: inset 10px 95px 25px -75px rgba(255, 81, 0, 1);
		border-bottom: 1px dashed #000;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 24px;
		background: $primery-color;
		color: $text-color;
		padding: 15px;
		font-weight: 700;

		&--bottom{
			border: none;
		}
	}

	&--white{
		.ba-accordion__title{
			background: #fff;
			box-shadow: inset 10px 95px 25px -75px rgba(246,184,5,1);
		}
	}
	&--orange{
		.ba-accordion__title{
			background: $decor-color;
			box-shadow: inset 10px 95px 25px -75px rgba(255, 255, 255, 1);
		}
	}

	&__content {
		display: none;
		margin: 0;
		// background: #CECECE;
		background: url(../img/menu-list-1.jpg) 70% 20%;
		background-size: cover;
		color: $text-color;
		padding: 15px;
		box-shadow: inset 125px -108px 119px -94px rgba(0, 0, 0, 1);
		padding: 20px;
		&__img{
			display: flex;
			align-items: center;
			justify-content: center;
			img{
				height: 250px;
				padding-bottom: 20px;
			}
		}

		p {
			font-family: $heading-font-family;
			font-weight: 700;
			font-size: 22px;
			margin: 0;
		}

		span {
			font-weight: 400;

		}

		&__item {
			display: flex;
			padding-bottom: 5px;
			align-items: center;
			justify-content: center;

			&--right {
				padding: 0 5px;
				margin-left: 5px;
				text-align: center;
				border-radius: 10px;
				background-color: rgba(246, 184, 5, 0.6);

				span {
					color: #C62000;
					font-weight: 700;
				}
			}
		}

		&> :last-child {
			margin-bottom: 0;
		}
	}
}

.ba-music {
	background-color: #a53f3f;
	color: #f4ce74;
}

.ba-books {
	background-color: #ffe9c1;
	color: #a53f3f;
}

.ba-notes {
	background-color: #f4ce74;
	color: #620808;
}